
thead, tbody tr {
  display: table;
  width: 100%;

}

  .scrollable {
    // max-height: 500px;
    // overflow-y: scroll;
    display: block;
  }
  

  .example-card {
    max-width: 800px;
    margin: 10px auto;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }


  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    max-width: 1170px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    margin: 0 auto;
    table-layout: auto;
    // width:100%
}

.styled-table thead tr {
  background-color: #3f51b5;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.table-action{
  display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:20px
}

mat-icon {
  cursor: pointer;
}